@charset "UTF-8";
*{margin: 0; padding: 0;}
html{
    background-color: #000;
}
section{
    position: relative;
    height: 100vh;
}
section .rgb{
    left: 50%; bottom: 50%;
    width: 700px;
    height: 520px;
}
#rgbKineticSlider canvas{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

nav .main-nav{
    position: absolute;
    color: #000;
    top: 50%;
}

nav .prev{
    left: 0;
    bottom: 0;
}
nav .next{
    right: 0;
    bottom: 0;
}
